/*  media querie de 424 a 320 */

@media (min-width: 100px) and (max-width: 424px){

    header{
        position: fixed;
    }

    nav {
        .navbar{
        width: 100%;
        height: 0;
        overflow: hidden;
            li :hover{
            color: aqua;
            }
        }
        ul{
            flex-direction: column;
            align-items: center;
            padding: 0.5rem 0px;
        }
        label{
        display: flex;
        color: azure;
        cursor: pointer;
        }
        #toggle:checked ~ .navbar{
        height: 100%;
    }
}

 /* main index 424 a 320px*/

 .grid-main {
    @include grid(repeat(1, 90%), repeat(11, 1fr), 10px);
    width: 100%;
    height: 2900px;
    background-color: black;
    grid-template-areas: 
    "section1"
    "section2"
    "section4"
    "section3"
    "section5"
    "section6"
    "section7"
    "section8"
    "section9"
    "section10"
    "section11"
    ;
    justify-content: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    p {
        text-align: justify;
    }
}

.section1 {
    background-image: url(../assets/codigo3.jpg);
    background-color: black;
    grid-area: section1;
    color: azure;
    background-repeat: no-repeat;
    div{
        img{
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }
    .presentacion {
        padding-top: 100px;
        font-size: 10px;
        h1{
            font-size: 10px;
        }
        h2{
            display: none;
        }
        &:hover{
            color: aqua;
        }
    }
}

.section2{
    background-color: black;
    grid-area: section2;
    color: azure;
    padding: 30px;
    font-size: 10px;
    h2{
        font-size: 15px;
    }
    p{
        font-size: 12px;
    }
}

.section3 {
    background-color: black;
    grid-area: section3;
    margin: 5px 20px 5px 20px; 
    border-style: double;
    border-color: black; 
    border-radius: 30px;
    div{
        img {
            width: 100%;
            height: 140px;
            object-fit: cover; 
            background-position: center;
            border-radius: 30px; 
            padding: 12px 4px 0px 4px;
        }
    }
}

.section4{
    background-color: black;
    grid-area: section4;
    color: azure;
    margin: 5px 20px 5px 20px;
    border-style: double;
    border-color: black;
    border-radius: 30px;
    font-size: 12px;
    p{
        margin: 20px;
    }
    h3{
        margin: 10px;
        font-size: 15px;
    }
    div{
        a{
            h3{
                color: azure;
            }
        }
    }
}

.section5{
    background-color: black;
    grid-area: section5;
    color: azure;
    margin: 5px 20px 5px 20px;
    border-style: double;
    border-color: black;
    border-radius: 30px;
    font-size: 12px;
    p{
        margin: 20px;
    }
    h3{
        margin: 10px;
        font-size: 15px;
    }
    div{
        a{ 
            h3{
        color: azure;
            }
        }
    }
}    

.section6 {
    background-color: black;
    grid-area: section6;
    margin: 5px 20px 5px 20px;
    border-style: double;
    border-color: black;
    border-radius: 30px;
    div{
        img {
            width: 100%;
            height: 140px;
            object-fit: cover;
            border-radius: 30px;
            padding: 4px 4px 0px 4px;
        }
    }
}

.section7{
    background-color: black;
    grid-area: section7;
    color: azure;
    margin: 5px 20px 5px 20px;
    border-style: double;
    border-color: black;
    border-radius: 30px;
    font-size: 12px;
    p {
        margin: 20px;
    }
    h3{
        margin: 10px;
        font-size: 15px;
    }
    div{
        a{ 
            h3{
            color: azure;
            }
        }
    }
}

.section8 {
    background-color: black;
    grid-area: section8;
    margin: 5px 20px 5px 20px;
    border-style: double;
    border-color: black;
    border-radius: 30px;
    div{
        img {
            width: 100%;
            height: 140px;
            object-fit: cover;
            border-radius: 30px;
            padding: 4px 4px 0px 4px;
        }
    }
}

.section9{
    background-color: black;
    grid-area: section9;
    color: azure;
    margin: 5px 20px 5px 20px;
    border-style: double;
    border-color: black;
    border-radius: 30px;
    font-size: 12px;
    p{
        margin: 20px;
    }
    h3{
        margin: 10px;
        font-size: 15px;
    }
    div{
        a{
            h3{
        color: azure;
            }
        }
    }
}

.section10 {
    background-color: black;
    grid-area: section10;
    margin: 5px 20px 5px 20px;
    border-style: double;
    border-color: black;
    border-radius: 30px;
    div{
        img {
            width: 100%;
            height: 140px;
            object-fit: cover;
            border-radius: 30px;
            padding: 4px 4px 0px 4px;
        }
    }
}

.section11 {
    background-color: black;
    grid-area: section11;
    width: 100%;
    height: 100px;
    color: azure;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

/* mediaqueries main pages 320 - 424*/

.grid-pages {
    @include grid(repeat(1, 80%), repeat(6, auto), 10px);
    width: 100%;
    height: 2300px;
    background-color: black;
    grid-template-areas: 
    "section12 section12 section12 section12" 
    "section13 section13 section13 section13"
    "grilla-1" 
    "grilla-2" 
    "grilla-3" 
    "grilla-4"; 
    justify-content: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.section12 {
    background-image: url(../assets/codigo3.jpg);
    background-color: black;
    grid-area: section12;
    color: azure;
    background-repeat: no-repeat;
    div{
        img{
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
    }
    .presentacion {
        padding: 120px;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        padding-top: 170px;
            h1{
            font-size: 12px;
        }
        
            h2{
            display: none;
        }
            &:hover{
            color: aqua;
        }
    }
}

.section13{
    background-color: black;
    grid-area: section13;
    color: azure;
    padding: 30px;
    font-size: 12px;
        h3{
        text-align: center;
        font-size: 14px;
    }
        p{
        text-align: justify;
    }
}

.section14 {
    @include grid(repeat(1, 80%), repeat(2, auto), 10px);
    width: 100%;
    height: 1000px;
    background-color: black;
    grid-template-areas:
    "grilla-1" 
    "grilla-2" 
    "grilla-3" 
    "grilla-4";
    justify-content: center;
    align-items: center;
    text-align: justify;
    .grilla-1{
        background-color: black;
        grid-area: grilla-1;
        color: azure;
        padding: 20px;
        font-size: 12px;
        text-align: center;
            h4{
            font-size: 12px;
            padding-top: 5px;
            }
        }
    .grilla-2{
        background-color: black;
        grid-area: grilla-2;
        color: azure;
        padding: 20px;
        font-size: 12px;
        text-align: center;
            h4{
            font-size: 12px;
            padding-top: 5px;
            }
        }
    .grilla-3{
        background-color: black;
        grid-area: grilla-3;
        color: azure;
        padding: 20px;
        font-size: 12px;
        text-align: center;
            h4{
            font-size: 12px;
            padding-top: 5px;
            }
        }
    .grilla-4{
        background-color: black;
        grid-area: grilla-4;
        color: azure;
        padding: 20px;
        font-size: 12px;
        text-align: center;
            h4{
            font-size: 12px;
            padding-top: 5px;
            }
        }
    }
}

